<div class="wrapper clearfix">
  <div class="col-1 homepage-content about">
    <h2>About</h2>
    <hr>
    <%= image_tag 'mitra.jpg', size: "256x256" %>
    <p>Hi, it's Martí.</p>
    <p>I'm a software engineering student, and my hobbies include web and videogame development.</p>
    <p>I use to work with Unity and C# for games, and Ruby on Rails for web (also PHP sometimes but not much).</p>
    <p>I love music, being my favourite genres Progressive and Black Metal.</p>
    <p>I also love my dog Sindar, he's such a good boy.</p>
  </div>
  
  <%#= GAMES %>
  <div class="col-2 homepage-content">
    <h2><%= link_to "Games", games_path %></h2>
    <hr>
    
    <% @games.each do |game| %>
      <div class="project">
        <h3><%= link_to game.name, game %></h3>
        
        <% if game.image1.present? %>
          <%= link_to (image_tag game.image1.url(:small)), game %>
        <% end %>
        
        <p class="date"><%= game.created_at.strftime("%A, %b %d") %></p>
        
      </div>
      
    <% end %>
    
    <%= link_to ">> See all games", games_path %>
  </div>
  
  <%#= PROJECTS %>
  <div class="col-3 homepage-content">
    <h2><%= link_to "Projects", projects_path %></h2>
    <hr>
    
    <% @projects.each do |project| %>
      <div class="project">
        <h3><%= link_to project.title, project %></h3>
        
        <% if project.image.present? %>
          <%= link_to (image_tag project.image.url(:small)), project %>
        <% end %>
        
        <p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
        
      </div>
      
    <% end %>
    
    <%= link_to ">> See all projects", projects_path %>
  </div>
  
  <%#= POSTS %>
  <div class="col-4 homepage-content">
    <h2><%= link_to "Posts", posts_path %></h2>
    <hr>
    
    <% @posts.each do |post| %>
    
      <h3><%= link_to post.title, post %></h3>
      
      <p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
      
    <% end %>
    
    <%= link_to ">> See all posts", posts_path %>
    
  </div>
</div>