<%#= link_to "Edit", edit_post_path(@post) %>
<%#= link_to "Delete", post_path(@post), method: :delete, 
              data: { confirm: "Are you sure you want to delete this post?"} %>

<div id="post_show_content" class="skinny-wrapper wrapper-padding">
  <header>
    <p class="date"><%= @post.created_at.strftime('%A, %B %d') %></p>
    <h1><%= @post.title %></h1>
    <hr>
  </header>
  
  <div id="content">
    <p><%= @post.content %></p>
  </div>
  
  <hr>
  
  <div id="share_box">
    <p>Share The DO list</p>
    <a href="https://twitter.com/intent/tweet?text=
      <%= @post.title %> by @Martiruhay <%= post_url(@post) %>" target="blank">
      <i class="fa fa-twitter"></i></a>
    <a href="https://www.facebook.com/sharer/sharer.php?u=
      <%= post_url(@post) %>" target="blank">
      <i class="fa fa-facebook"></i></a>
    <a href="https://www.linkedin.com/shareArticle?
      min=true&amp;url=<%= post_url(@post) %>
      &amp;summary=<%= @post.content.truncate(255) %>" target="blank">
      <i class="fa fa-linkedin"></i></a>
  </div>
  <hr>
  
</div>