<!DOCTYPE html>
<html>
  <head>
    <title>Mitra Lesvoral - Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main_navigation" class="clearfix">
      <%= link_to "Mitra Lesvoral", root_path, class: 'name' %>
      <nav>
        <%= link_to "Posts", posts_path %>
        <%= link_to "Projects", projects_path %>
        <a href="#">Contact</a>
      </nav>
    </header>
    
    <%= yield %>
    
    <footer id="main_footer">
      <p class="copyright">&copy;2017 Marti Lloveras</p>
      <nav>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </nav>
    </footer>
  </body>
</html>
